PUBLIC_ORIGIN=https://ideas.proximitytoprogress.com
ACTOR_NAME=ideas
ACTOR_DISPLAY_NAME=Proximity to Progress Ideas
ADMIN_TOKEN=replace-with-at-least-24-random-characters
FEDERATION_ENABLED=true
VERIFY_GIT_ON_PUBLISH=true
GIT_TIMEOUT_MS=60000
GIT_MAX_PACK_BYTES=209715200
VERIFY_ARTIFACTS_ON_SUBMIT=true
ARTIFACT_TIMEOUT_MS=15000
ARTIFACT_MAX_BYTES=10485760
LOG_LEVEL=info
